<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Austin Liu </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="main" class="blob">
        <h1> Austin Liu </h1>
        <p> Developer | Cornellian | Magician</p>

        <div id="tablet">
            <img class="backgroundTablet" src="res/surface.png">
            <div class="tabletMaterial">
                <div v-if="checkScreen()">
                    <h2 style="margin: 0">
                    <img        src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAdZAAAAJGZlOWRlNTc4LTQzYWYtNGQyYy05OWEwLTcxZDU3MWRjOTQwYQ.jpg"

                    class="img-circle profile-picture"
                    > </img>
                    
                    alert("Hello!")
                    </h2>

                    <p class="tablet-text"> Please take a look at some of the projects that I've build! If you need to contact me, please refer to my contact information and resume below!</p>
                </div>

                <div v-if="!checkScreen()">
                    <h3> Welcome! </h3>
                    <p> Please take a look at some of the projects that I've build! If you need to contact me, please refer to my contact information and resume below! </p>
                </div>
            </div>
        </img>
        </div>

        <div id="contactMe">
            <a href="mailto:liu.austin.r@gmail.com" class="icon ion-ios-email-outline contact"> </a>
            <a href="https://www.dropbox.com/s/xoga0s9afzcaijo/Liu_Austin_Resume_FA16.pdf?dl=0" class="icon ion-ios-paper-outline contact"> </a>
            <a href="https://github.com/aliu139" class="icon ion-social-github-outline contact"> </a>
            <a href="https://www.linkedin.com/in/aliu139" class="icon ion-social-linkedin-outline contact"> </a>
        </div>
    </div>

    <div id="side" class="blob">
        <div id="projects">
            <h2> Projects </h2>

            <div>
                <h3> {{display.title}}</h3>
                <img v-bind:src="display.pic" class="img-circle project-icon"> </img>   
                <p> {{display.description}} </p>
            </div>

            <a class="icon ion-monitor" v-bind:href="display.url1"> Example </a>
            <a class="icon ion-code" v-bind:href="display.url2"> View Source </a>
            
            <a class="icon ion-arrow-right-c" style="float:right;" v-if="counter < li.length - 1" v-on:click="next()"></a>
            <a class="icon ion-arrow-left-c" style="float:right;" v-if="counter > 0" v-on:click="prev()"></a>

        </div>

        <div id="experience">
            <h2> Experience </h2>
            <div class="experience-icon">
                <a v-bind:href="display.url">
                <img 
                    v-bind:src="display.pic" 
                    v-bind:class="{ 'img-circle': !display.square }" 
                    class="project-icon">
                </img>
                <p> {{display.dates}} </p>
                </a>
            </div>
            <div v-for="el in li" class="experience-icon">
                <a v-bind:href="el.url">
                <img 
                    v-bind:src="el.pic" 
                    v-bind:class="{ 'img-circle': !el.square }" 
                    class="project-icon">
                </img>
                <p> {{el.dates}} </p>
                </a>
            </div>
        </div>

        <div>
            <span>
                <h2 style="display: inline-block; padding-right: 15px"> Other </h2>
                <a href="https://www.instagram.com/liu.austin/" class="icon ion-social-instagram-outline contact"> </a>
                <a href="https://medium.com/@aliu139" class="icon ion-ios-bookmarks-outline contact"> </a>
            </span>
            <p> Besides attending hackathons, coding side projects, and adding easter eggs to my previous projects, I also enjoy cardistry and magic. Perhaps, I've included a few easter eggs in this site too?</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="js/components.js"></script>
  </body>
</html>