<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="The Personal Site of Austin Liu">
    <meta name="keywords" content="Austin,Liu,Web,Developer">
    <meta name="author" content="Austin Liu">
   
    <title> Austin Liu </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700" rel="stylesheet">
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />

    <link rel="icon" href="res/favi.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="main" class="blob">
        <h1> Austin Liu </h1>
        <p id="titleType"> Developer | Cornellian | Magician</p>

        <div id="tablet">
            <img class="backgroundTablet" src="res/surface.png">
            <div id="tabletMaterial">
                <div v-if="checkScreen()">
                    <h3>
                    <img        src="//media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAdZAAAAJGZlOWRlNTc4LTQzYWYtNGQyYy05OWEwLTcxZDU3MWRjOTQwYQ.jpg"

                    class="img-circle profile-picture"
                    > </img>
                    
                    alert("Hello!")
                    </h3>

                    <p id="tabletType"> Please take a look at some of the projects that I've build! If you need to contact me, please refer to my contact information and resume below!</p>
                </div>

                <div v-if="!checkScreen()">
                    <h3> Welcome! </h3>
                    <p id="tabletType"> Please take a look at some of the projects that I've build! If you need to contact me, please refer to my contact information and resume below! </p>
                </div>
            </div>
            </img>
        </div>

        <div id="secret" class="progress" v-if="value > 0">
            <div v-if="value < 100" class="progress-bar progress-bar-striped active" role="progressbar" v-bind:style="{ width: value+ '%' }">
                {{value}}%
            </div>

            <div v-if="value == 100">
                <a v-bind:href="url">
                    {{display}}
                </a>
            </div>
        </div>

        <div id="contactMe">
            <a href="mailto:liu.austin.r@gmail.com" class="icon ion-ios-email-outline"> </a>
            <a href="//www.dropbox.com/s/xoga0s9afzcaijo/Liu_Austin_Resume_FA16.pdf?dl=0" class="icon ion-ios-paper-outline"> </a>
            <a href="//github.com/aliu139" class="icon ion-social-github-outline"> </a>
            <a href="//www.linkedin.com/in/aliu139" class="icon ion-social-linkedin-outline"> </a>
        </div>

        <div id="mobile-down">
            <a href="#side">
                <i class="icon ion-chevron-down grow"> </i>
            </a>
        </div>
    </div>

    <div id="side" class="blob">
        <div id="projects">
            <h2> Projects </h2>

            <div>
                <h3> {{display.title}}</h3>
                <img v-bind:src="display.pic" class="img-circle project-icon"> </img>   
                <p> {{display.description}} </p>
            </div>            

            <a class="icon ion-monitor" v-bind:href="display.url1"> Example </a>
            <a class="icon ion-code" v-bind:href="display.url2"> View Source </a>
            
            <a class="icon ion-arrow-right-c grow" style="float:right;" v-if="counter < li.length - 1" v-on:click="next()"></a>
            <a class="icon ion-arrow-left-c grow" style="float:right;" v-if="counter > 0" v-on:click="prev()"></a>
        </div>

        <div id="experience">
            <h2> Experience </h2>
            <div class="experience-icon">
                <a v-bind:href="display.url">
                <img 
                    v-bind:src="display.pic" 
                    v-bind:class="{ 'img-circle': !display.square }" 
                    class="project-icon focus">
                </img>
                <p> {{display.dates}} </p>
                </a>
            </div>
            <div v-for="el in li" class="experience-icon">
                <a v-bind:href="el.url">
                <img 
                    v-bind:src="el.pic" 
                    v-bind:class="{ 'img-circle': !el.square }" 
                    class="project-icon focus">
                </img>
                <p> {{el.dates}} </p>
                </a>
            </div>
        </div>

        <div id="other">
            <span>
                <h2> Other </h2>
                <a class="icon ion-social-instagram-outline" href="//www.instagram.com/liu.austin/"> </a>
                <a class="icon ion-ios-bookmarks-outline" href="//medium.com/@aliu139"> </a>
            </span>
            <p> Besides attending hackathons, coding side projects, and adding easter eggs to my previous projects, I also enjoy cardistry and magic. Perhaps, I've included a few easter eggs in this site too?</p>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-3.0.0.min.js"></script> 
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="js/components.js"></script>

    <script src="//cdn.rawgit.com/namuol/cheet.js/master/cheet.min.js"
        type="text/javascript"></script>
    <script src="js/eastereggs.js"></script>
    
    <script src="//cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js"></script>
    <script src="js/typing.js"></script>
  </body>
</html>