/* General Overrides*/
body{
    font-family: 'Josefin Sans', sans-serif;
}

a{
    color: black;
    padding-right: 5px;
}

a:hover{
    text-decoration: none;
}

/* Section Overrides */
#main{
    text-align: center;
    display: block;
    height: 100vh;
}

#side{
    padding-right: 30px;
}

#side h2{
    text-decoration: underline;
}

#contactMe{
    margin-top: 3vh;
    text-align: center;
}

#contactMe a{
    font-size: 25px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

#tablet{
    display:inline-block;
    min-height: 30vw;
    position: relative;
    max-width: 90%;
    min-width: 90%;
}

#tabletMaterial{
    text-align: left;
    padding: 5vw;
    max-height: 30vw;
}

#tabletMaterial h3{
    margin: 0;
}

#tabletMaterial p{
    margin-top: 10px;
}

#projects h3{
    display: inline-block;
}

#projects img{
    float: right;
}

#projects a{
    font-size: 20px;
}

#experience p{
    margin: 0px;
}

#other h2{
    display: inline-block; 
    padding-right: 15px;
}

#other a{
    font-size: 25px;
}

/* Classes */
.experience-icon{
    display: inline-block;
    padding: 3px;
    text-align: center;
    margin-top: 10px;
}

.backgroundTablet{
    width: 100%;
    position:absolute;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}

.project-icon{
    width: 45px;
    height: 45px;
}

.blob{
    display: block;
    width: 50%;
    float: left;
    padding: 15px;
}

.profile-picture{
    width: 90px;
    display: inline-block;
}

/* Transitions*/
.focus {
   opacity: 0.6;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.focus:hover {
    opacity: 1;
}

.grow{
    transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.4); 
}

/* Mobile */
@media (max-width: 800px) {
    /* Mobile Specific Changes*/

    .profile-picture{
        width: 80px;
        display: inline-block;
    }

    .blob{
        display: block;
        width: 100%;
        float: left;
        padding: 15px;
    }

    #tablet{
        display:inline-block;
        min-height: 60vw;
        position: relative;
        max-width: 90%;
        min-width: 90%;
    }
    #tabletMaterial{
        text-align: left;
        padding: 8vw;
        max-height: 30vw;
    }
    #side{
        padding-right: 30px;
    }
    .experience-icon{
        display: inline-block;
        padding: 4px;
        text-align: center;
    }
}