<div class="jumbotron">
	<h1>About Me</h1>
	
	<hr></hr>

	<p class="panel"> I'm currently a programmer who goes to school in New York. My interests lie in back-end development, number theory (the branch of mathematics that keeps us safe and secure online), and data analytics and visualization. If I am not busy studying for a prelim (Cornell's version of midterms) or working on a personal project, you can probably find me learning about new frameworks or practicing cardistry and card manipulation. </p>
</div>

