<div class="jumbotron">
	<h1 ng-click="secret()">Contact Me</h1>

	<hr></hr>
	
	<h2> Feel free to contact me either through e-mail or any of the social media links below </h2>

	<div class="btn-group-vertical" role="group">
 		<a href="mailto:arl96@cornell.edu" class="btn btn-outline-inverse btn-lg btn-link" style="margin-top: 15px; color:white">
 			<i class="fa fa-envelope-o fa-2x"></i>Email (arl96@cornell.edu)
 		</a>
 		<a href="https://github.com/aliu139" class="btn btn-outline-inverse btn-lg btn-link" style="margin-top: 15px; color:white">
 			<i class="fa fa-github fa-2x"></i> GitHub
 		</a>
 		<a href="https://www.linkedin.com/in/aliu139" class="btn btn-outline-inverse btn-lg btn-link" style="margin-top: 15px; color:white">
 			<i class="fa fa-linkedin fa-2x"></i> LinkedIn
 		</a>	
 		<a href="http://instagram.com/liu.austin" class="btn btn-outline-inverse btn-lg btn-link" style="margin-top: 15px; color:white">
 			<i class="fa fa-instagram fa-2x"></i> Instagram
 		</a>	
	</div>
</div>

