<div id="jpedal" class="redPillCont">

<!-- Begin shared CSS values -->
<style type="text/css" >
.t {
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 2;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
	color:white;
}
</style>
<!-- End shared CSS values -->

<!-- Begin shared JS -->
<script type="text/javascript">

// Ensure that we're not replacing any onload events
function addLoadEvent(func) {
	var oldonload = window.onload;
	if (typeof window.onload != 'function') {
		window.onload = func;
	} else {
		window.onload = function() {
			if (oldonload) {
				oldonload();
			}
			func();
		}
	}
}
addLoadEvent(function(){load1();});

</script>
<!-- End shared JS -->


<!-- Begin inline CSS -->
<style type="text/css" >

#t1_1{left:110px;top:109px;letter-spacing:-0.1px;word-spacing:-0.1px;}
#t2_1{left:110px;top:143px;word-spacing:-0.1px;}
#t3_1{left:110px;top:165px;letter-spacing:-0.1px;}
#t4_1{left:110px;top:187px;letter-spacing:-0.2px;word-spacing:0.1px;}
#t5_1{left:110px;top:221px;letter-spacing:-0.2px;word-spacing:0.1px;}
#t6_1{left:110px;top:243px;letter-spacing:-0.1px;word-spacing:-0.1px;}
#t7_1{left:110px;top:265px;letter-spacing:-0.2px;word-spacing:0.1px;}
#t8_1{left:110px;top:287px;letter-spacing:-0.1px;word-spacing:-0.1px;}
#t9_1{left:110px;top:309px;letter-spacing:-0.2px;}
#ta_1{left:110px;top:343px;letter-spacing:-0.1px;}
#tb_1{left:110px;top:365px;letter-spacing:-0.2px;}
#tc_1{left:110px;top:387px;letter-spacing:-0.1px;}
#td_1{left:110px;top:409px;letter-spacing:-0.1px;word-spacing:-0.1px;}
#te_1{left:110px;top:431px;letter-spacing:-0.2px;word-spacing:0.1px;}
#tf_1{left:110px;top:453px;letter-spacing:-0.1px;}
#tg_1{left:110px;top:487px;letter-spacing:-0.1px;}
#th_1{left:110px;top:509px;letter-spacing:-0.3px;word-spacing:0.2px;}
#ti_1{left:110px;top:531px;letter-spacing:-0.2px;word-spacing:0.2px;}
#tj_1{left:110px;top:553px;letter-spacing:-0.1px;}
#tk_1{left:110px;top:575px;letter-spacing:-0.2px;}
#tl_1{left:110px;top:597px;letter-spacing:-0.1px;word-spacing:0.1px;}
#tm_1{left:110px;top:619px;letter-spacing:-0.2px;word-spacing:0.1px;}
#tn_1{left:110px;top:640px;letter-spacing:-0.1px;}
#to_1{left:110px;top:662px;letter-spacing:-0.1px;word-spacing:0.1px;}
#tp_1{left:110px;top:684px;letter-spacing:-0.2px;}
#tq_1{left:110px;top:719px;letter-spacing:-0.2px;word-spacing:0.1px;}
#tr_1{left:110px;top:740px;letter-spacing:-0.1px;}
#ts_1{left:110px;top:762px;letter-spacing:-0.1px;word-spacing:-0.1px;}
#tt_1{left:110px;top:796px;letter-spacing:-0.7px;}
#tu_1{left:110px;top:831px;letter-spacing:-0.1px;word-spacing:0.1px;}
#tv_1{left:110px;top:899px;letter-spacing:-0.3px;word-spacing:0.5px;}
#tw_1{left:110px;top:921px;letter-spacing:-0.3px;word-spacing:0.3px;}
#tx_1{left:110px;top:943px;letter-spacing:-0.2px;word-spacing:0.1px;}
#ty_1{left:110px;top:965px;letter-spacing:-0.2px;}

.s1_1{
	FONT-SIZE: 67.2px;
	color: rgb(0,0,0);
}

</style>
<!-- End inline CSS -->

<!-- Begin embedded font definitions -->
<style id="fonts1" type="text/css" >

@font-face {
}

</style>
<!-- End embedded font definitions -->

<!-- Begin text definitions (Positioned/styled in CSS) -->
<div id="t1_1" class="t s1_1">Dear {{displayName}},</div>
<div id="t2_1" class="t s1_1">I am writing this on January 11, 2016 (and if you don’t believe me, you can check the Git logs on GitHub).</div>
<div id="t3_1" class="t s1_1">If I've misspelled your name or gotten any detail wrong, I apologize in advance. Predicting events in </div>
<div id="t4_1" class="t s1_1">advance is always a tricky business that can be affected by even the smallest of details. </div>
<div id="t5_1" class="t s1_1">The fact that you are reading this means that I have performed Chris Ramsay’s effect Red Pill for you </div>
<div id="t6_1" class="t s1_1">(hopefully without any issues). If I’m correct, this should have occurred on or within a few days of </div>
<div id="t7_1" class="t s1_1">{{displayDate}}. The location, however, is much harder to predict. I am going to say that this meeting </div>
<div id="t8_1" class="t s1_1">will probably occur at {{displayLoc}} or a very similar location. The reason that I picked to perform </div>
<div id="t9_1" class="t s1_1">this effect for you is simply that I was interested in starting up a conversation with you. </div>
<div id="ta_1" class="t s1_1">The question I hope that you will still be asking yourself is “How did you know”? Some people may guess</div>
<div id="tb_1" class="t s1_1">that I taped the card to the pack after getting you to say the card name, but you have seen that the card </div>
<div id="tc_1" class="t s1_1">is actually on the inside of the cellophane. If there is any doubt of this, you will have also seen that inside</div>
<div id="td_1" class="t s1_1">the sealed deck of cards, there is only one card with a different colored-back. Besides that one </div>
<div id="te_1" class="t s1_1">difference, the deck of cards is perfectly ordinary. The reason is simply that this was never a trick of </div>
<div id="tf_1" class="t s1_1">slights to begin with but rather a trick of the mind.</div>
<div id="tg_1" class="t s1_1">Just as palm readers are able to foretell the path of your life by the curves in your hand, I too will </div>
<div id="th_1" class="t s1_1">attempt to play oracle and determine the card in advance. You are very self-sufficient and do not have a </div>
<div id="ti_1" class="t s1_1">strong need for other people to like you or for them to admire you. This suggests to me that you will not </div>
<div id="tj_1" class="t s1_1">be afraid of picking a card with quite a bit of ink on it, perhaps a face card of some kind. While you </div>
<div id="tk_1" class="t s1_1">appear to have everything under control on the outside, you do have moments of worry or insecurity. </div>
<div id="tl_1" class="t s1_1">This suggests that you will most likely choose not to pick more masculine cards like the King or the Jack. </div>
<div id="tm_1" class="t s1_1">There are some weaknesses in your personality, but you are more than capable of compensating for </div>
<div id="tn_1" class="t s1_1">them. Out of the four queens, studies have shown that these types of people will gravitate towards the </div>
<div id="to_1" class="t s1_1">red queens. Ultimately, which one you choose, the Queen of Hearts or the Queen of Diamonds, will </div>
<div id="tp_1" class="t s1_1">depend on a variety of minute factors at the exact moment you decide. </div>
<div id="tq_1" class="t s1_1">As I will tell you before I perform this effect, this is not a so much a card trick as it is a trick with cards. </div>
<div id="tr_1" class="t s1_1">While I am the magician, the only way that this trick will work is if you truly believe that miracles are </div>
<div id="ts_1" class="t s1_1">possible. Thank you again for your time!</div>
<div id="tt_1" class="t s1_1">Sincerely,</div>
<div id="tu_1" class="t s1_1">Austin Liu</div>
<div id="tv_1" class="t s1_1">(P.S – Getting to know someone through the foggy lens of a crystal ball isn’t as fun as meeting them in </div>
<div id="tw_1" class="t s1_1">person. I’d love to grab coffee or bubble tea with you sometime :P If you’re also interested, message me </div>
<div id="tx_1" class="t s1_1">through Facebook, E-mail, or whatever is convenient! All of my details are available in the Contact tab of </div>
<div id="ty_1" class="t s1_1">this website.)</div>

<!-- End text definitions -->

<!-- Begin page background -->
<div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
<div id="pg1"><object width="935" height="1210" data="1/1.svg" type="image/svg+xml" id="pdf1" style="width:935px; height:1210px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object></div>
<!-- End page background -->

<!-- Begin page loading JS -->
<script id="ld1" type="text/javascript">

var isIE = false;
function load1(){
}
</script>
<!--[if lt IE 9]><script type="text/javascript">
isIE = true;

var divCount = 35;
for (var i = 1; i < divCount; i++) {
    var div = document.getElementById("t" + i.toString(36) + "_1");
    if (div !== null) {
        div.style.top = (div.offsetTop * 4) + "px";
        div.style.left = (div.offsetLeft * 4) + "px";
        div.style.zoom = "25%";
    }
}
</script><![endif]-->
<!-- End page loading JS -->

</div>

