<div class="jumbotron">
	<h1>Contact Me</h1>

	<hr></hr>
	
	<h2> Seeing as you've found this page, there are only a few possiblities. Why are you here? </h2>

	<div class="btn-group-vertical" role="group" ng-init="ans=0">
 		<a class="btn btn-outline-inverse btn-lg btn-link" style="margin-top: 15px; color:white" ng-show="ans==0 || ans==1" ng-click="ans=1">
 			<i class="fa fa-file-text fa-2x"></i> I gave you directions
 		</a>
 		<a class="btn btn-outline-inverse btn-lg btn-link" style="margin-top: 15px; color:white" ng-show="ans==0 || ans==2" ng-click="ans=2">
 			<i class="fa fa-code fa-2x"></i> You looked through the code
 		</a>
 		<a class="btn btn-outline-inverse btn-lg btn-link" style="margin-top: 15px; color:white" ng-show="ans==0 || ans==3" ng-click="ans=3">
 			<i class="fa fa-comment fa-2x"></i> A friend told you
 		</a>	
 		<a class="btn btn-outline-inverse btn-lg btn-link" style="margin-top: 15px; color:white" ng-show="ans==0 || ans==4" ng-click="ans=4">
 			<i class="fa fa-question-circle fa-2x"></i> By Accident
 		</a>

 		<div class="well specialWell" ng-show="ans==1">
 			<p>"This is your last chance. After this, there is no turning back. You take the blue pill - the story ends, you wake up in your bed and believe whatever you want to believe. You take the red pill - you stay in Wonderland and I show you how deep the rabbit-hole goes." -Morpheus</p>

 			<hr></hr>

 			<p class="specialWellText"> First of all, thank you so much for taking the time to watch me perform! It means the world to me, and I hope that it has really made you think a bit about the world. The fact that you are here means that you've opened the deck and seen for yourself what is actually inside. If you would like to take this effect one step further, please enter the credentials that you have on the card. </p>

 			<input type="text" class="form-control" placeholder="Username" ng-model="user"> </input>
 			<input type="password" class="form-control" placeholder="Password" style="display:block; margin-top:15px;" ng-model="pass"> </input>
 			<button class="btn btn-outline-inverse btn-lg" style="margin-top:15px; background-color:#1e288a;" ng-click="authenticate(user,pass)"> Let's Go! </button>
 		</div>	
 		<div class="well specialWell" ng-show="ans==2">
 			<p> “Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program.” -Linus Torvalds</p>

 			<hr></hr>

 			<p class="specialWellText"> Congratulations for finding this page! Admittedly, it wasn't very well-hidden, but it still takes a bit of work to figure out what everything does. Feel free to take a look at my favorite hobby (outside of coding of course :P)!</p>

 			<button type="button" class="btn btn-primary btn-lg" style="background-color:#1e288a;" ng-click="magic()">Check out the magic!</button>
 		</div>	
 		<div class="well specialWell" ng-show="ans==3">
 			<p> “Promise me you'll always remember: You're braver than you believe, and stronger than you seem, and smarter than you think.” 
				- A. A. Milne</p>

			<hr></hr>

			<p class="specialWellText"> If a friend sent you here, you have an awesome friend! Feel free to take a look at some of the things that I do on the side. I hope that after you see what I do, you might feel inclined to believe in magic again!</p>

			<button type="button" class="btn btn-primary btn-lg" style="background-color:#1e288a;" ng-click="magic()">Check out the magic!</button>
 		</div>	
 		<div class="well specialWell" ng-show="ans==4"> 
 			<p> “The universe is always speaking to us. ... Sending us little messages, causing coincidences and serendipities, reminding us to stop, to look around, to believe in something else, something more.” -Nancy Thayer</p>

 			<hr></hr>

 			<p class="specialWellText"> Well, this was unexpected. The world is a very interesting place, and if you have managed to find this place (by accident or not), who am I to prevent you from seeing what's inside? I hope you enjoy!</p>

 			<button type="button" class="btn btn-primary btn-lg" style="background-color:#1e288a;" ng-click="magic()">Check out the magic!</button>
 		</div>	
	</div>
</div>

